<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table border="1" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="background-color: #f2f2f2; padding: 10px; text-align: left;">Name</th>
                    <th style="background-color: #f2f2f2; padding: 10px; text-align: left;">Employee ID</th>
                    <th style="background-color: #f2f2f2; padding: 10px; text-align: left;">Email</th>
                    <th style="background-color: #f2f2f2; padding: 10px; text-align: left;">Age</th>
                    <th style="background-color: #f2f2f2; padding: 10px; text-align: left;">Operations</th>

                </tr>
            </thead>
            <tbody>
                {% for emp in data %}
                <tr>
                    <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ emp.name }}</td>
                    <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ emp.employee_id }}</td>
                    <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ emp.email }}</td>
                    <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ emp.age }}</td>
                    <td>
                        <a href="update/{{emp.id}}"> Update</a>
                        <a href="delete/{{emp.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit"><a href="create">create</a></button>
    </div>
</body>
</html>
